@{
    Layout = "_Layout";
}

<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

	<div class="container">
		<a class="navbar-brand" href="index.html">Furni<span>.</span></a>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarsFurni">
			<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
				<li class="nav-item">
					<a class="nav-link" href="/">Home</a>
				</li>
				<li><a class="nav-link" href="/Shop">Shop</a></li>
				<li><a class="nav-link" href="/Home/About">About us</a></li>
				<li><a class="nav-link" href="/Home/Services">Services</a></li>
				<li><a class="nav-link" href="/Blog">Blog</a></li>
				<li class="active"><a class="nav-link" href="/Home/Contact">Contact us</a></li>
			</ul>

			<ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
				<li><a class="nav-link" href="#"><img src="~/images/user.svg" /></a></li>
				<li><a class="nav-link" href="/Cart"><img src="~/images/cart.svg" /></a></li>
			</ul>
		</div>
	</div>

</nav>
<!-- End Header/Navigation -->
<!-- Start Hero Section -->
<div class="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1>Hiến Máu <span clsas="d-block">Chia Sẻ Sự Sống</span></h1>
                    <p class="mb-4"> Mỗi giọt máu cho đi là một cơ hội sống được trao gửi. Hãy cùng chung tay hiến máu nhân đạo, lan tỏa yêu thương và hy vọng đến những người đang cần. Một hành động nhỏ, một nghĩa cử lớn – bạn có thể là người hùng thầm lặng cứu sống nhiều sinh mệnh.</p>
                    <p><a href="" class="btn btn-secondary me-2">Đăng Ký Hiến Máu</a><a href="#" class="btn btn-white-outline">Tìm Hiểu Thêm</a></p>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="hero-img-wrap">
                    <img src="images/couch.png" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Hero Section -->
<!-- Start Product Section -->
<div class="product-section">
    <div class="container">
        <div class="row">

            <!-- Start Column 1: Giới thiệu -->
            <div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
                <h2 class="mb-4 section-title text-danger">Giới thiệu</h2>
                <p class="mb-4">Hiến máu cứu người là nghĩa cử cao đẹp, mỗi giọt máu cho đi là một cơ hội sống cho người khác. Hãy cùng chung tay lan tỏa yêu thương và hy vọng!</p>
                <p><a href="/About" class="btn btn-danger">Tìm hiểu thêm</a></p>
            </div>
            <!-- End Column 1 -->
            <!-- Start Column 2: Hình ảnh cộng đồng hiến máu -->
            <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
                <a class="product-item" href="#">
                    <img src="images/community-1.jpg" class="img-fluid product-thumbnail" alt="Cộng đồng hiến máu 1">
                    <h3 class="product-title">Cộng đồng hiến máu</h3>
                    <strong class="product-price">Hình ảnh 1</strong>
                    <span class="icon-cross">
                        <img src="images/cross.svg" class="img-fluid">
                    </span>
                </a>
            </div>
            <!-- End Column 2 -->
            <!-- Start Column 3: Hình ảnh cộng đồng hiến máu -->
            <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
                <a class="product-item" href="#">
                    <img src="images/community-2.jpg" class="img-fluid product-thumbnail" alt="Cộng đồng hiến máu 2">
                    <h3 class="product-title">Cộng đồng hiến máu</h3>
                    <strong class="product-price">Hình ảnh 2</strong>
                    <span class="icon-cross">
                        <img src="images/cross.svg" class="img-fluid">
                    </span>
                </a>
            </div>
            <!-- End Column 3 -->
            <!-- Start Column 4: Hình ảnh cộng đồng hiến máu -->
            <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
                <a class="product-item" href="#">
                    <img src="images/community-3.jpg" class="img-fluid product-thumbnail" alt="Cộng đồng hiến máu 3">
                    <h3 class="product-title">Cộng đồng hiến máu</h3>
                    <strong class="product-price">Hình ảnh 3</strong>
                    <span class="icon-cross">
                        <img src="images/cross.svg" class="img-fluid">
                    </span>
                </a>
            </div>
            <!-- End Column 4 -->

        </div>
    </div>
</div>
<!-- End Product Section -->
<!-- Start Statistics Section -->
<div class="why-choose-section">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-6">
                <h2 class="section-title text-danger">Thống kê máu còn thiếu</h2>
                <p>Hiện tại, lượng máu dự trữ đang thiếu hụt nghiêm trọng. Hãy cùng chung tay để cứu sống nhiều người hơn.</p>
                <div class="row my-5">
                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <h3 class="text-danger">A+</h3>
                            <p>Thiếu 120 đơn vị</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <h3 class="text-danger">B+</h3>
                            <p>Thiếu 90 đơn vị</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <h3 class="text-danger">O+</h3>
                            <p>Thiếu 150 đơn vị</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <h3 class="text-danger">AB+</h3>
                            <p>Thiếu 60 đơn vị</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Hình ảnh minh họa -->
            <div class="col-lg-5">
                <div class="img-wrap">
                    <img src="images/why-choose-us-img.jpg" alt="Hiến máu nhân đạo" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Statistics Section -->
<!-- Start We Help Section (Câu chuyện truyền cảm hứng) -->
<div class="we-help-section">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-7 mb-5 mb-lg-0">
                <div class="imgs-grid">
                    <div class="grid grid-1"><img src="images/img-grid-1.jpg" alt="Hiến máu cộng đồng"></div>
                    <div class="grid grid-2"><img src="images/img-grid-2.jpg" alt="Hiến máu cộng đồng"></div>
                    <div class="grid grid-3"><img src="images/img-grid-3.jpg" alt="Hiến máu cộng đồng"></div>
                </div>
            </div>
            <div class="col-lg-5 ps-lg-5">
                <h2 class="section-title mb-4 text-danger">Câu chuyện truyền cảm hứng</h2>
                <p>Mỗi người hiến máu là một người hùng thầm lặng. Họ đã góp phần cứu sống biết bao bệnh nhân, mang lại hy vọng cho nhiều gia đình.</p>
                <ul class="list-unstyled custom-list my-4">
                    <li>Chia sẻ yêu thương, lan tỏa sự sống</li>
                    <li>Tham gia các chương trình hiến máu định kỳ</li>
                    <li>Trở thành thành viên cộng đồng hiến máu</li>
                </ul>
                <p><a href="/Community" class="btn btn-danger">Xem thêm câu chuyện</a></p>
            </div>
        </div>
    </div>
</div>
<!-- End We Help Section -->
<!-- Start Popular Product (Tin tức - Sự kiện) -->
<div class="popular-product">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="product-item-sm d-flex">
                    <div class="thumbnail">
                        <img src="images/news-1.jpg" alt="Sự kiện hiến máu" class="img-fluid">
                    </div>
                    <div class="pt-3">
                        <h3>Ngày hội hiến máu 2025</h3>
                        <p>Tham gia ngày hội hiến máu lớn nhất năm, cùng hàng ngàn người lan tỏa yêu thương.</p>
                        <p><a href="#">Xem chi tiết</a></p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="product-item-sm d-flex">
                    <div class="thumbnail">
                        <img src="images/news-2.jpg" alt="Tình nguyện viên" class="img-fluid">
                    </div>
                    <div class="pt-3">
                        <h3>Tình nguyện viên tiêu biểu</h3>
                        <p>Gặp gỡ những gương mặt tiêu biểu trong phong trào hiến máu nhân đạo.</p>
                        <p><a href="#">Xem chi tiết</a></p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="product-item-sm d-flex">
                    <div class="thumbnail">
                        <img src="images/news-3.jpg" alt="Câu chuyện hiến máu" class="img-fluid">
                    </div>
                    <div class="pt-3">
                        <h3>Câu chuyện cảm động</h3>
                        <p>Những câu chuyện xúc động về người hiến máu và người nhận máu.</p>
                        <p><a href="#">Xem chi tiết</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Popular Product -->
<!-- Start Testimonial Slider (Cảm nhận người hiến máu) -->
<div class="testimonial-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mx-auto text-center">
                <h2 class="section-title text-danger">Cảm nhận người hiến máu</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="testimonial-slider-wrap text-center">
                    <div id="testimonial-nav">
                        <span class="prev" data-controls="prev"><span class="fa fa-chevron-left"></span></span>
                        <span class="next" data-controls="next"><span class="fa fa-chevron-right"></span></span>
                    </div>
                    <div class="testimonial-slider">
                        <div class="item">
                            <div class="row justify-content-center">
                                <div class="col-lg-8 mx-auto">
                                    <div class="testimonial-block text-center">
                                        <blockquote class="mb-5">
                                            <p>&ldquo;Tôi cảm thấy rất hạnh phúc khi biết rằng máu của mình đã cứu sống một ai đó.&rdquo;</p>
                                        </blockquote>
                                        <div class="author-info">
                                            <div class="author-pic">
                                                <img src="images/person-1.png" alt="Người hiến máu" class="img-fluid">
                                            </div>
                                            <h3 class="font-weight-bold">Nguyễn Văn A</h3>
                                            <span class="position d-block mb-3">Tình nguyện viên</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END item -->
                        <div class="item">
                            <div class="row justify-content-center">
                                <div class="col-lg-8 mx-auto">
                                    <div class="testimonial-block text-center">
                                        <blockquote class="mb-5">
                                            <p>&ldquo;Hiến máu là cách đơn giản nhất để giúp đỡ cộng đồng.&rdquo;</p>
                                        </blockquote>
                                        <div class="author-info">
                                            <div class="author-pic">
                                                <img src="images/person-2.png" alt="Người hiến máu" class="img-fluid">
                                            </div>
                                            <h3 class="font-weight-bold">Trần Thị B</h3>
                                            <span class="position d-block mb-3">Sinh viên</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END item -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Testimonial Slider -->
<!-- Start Blog Section (Tin tức - Blog) -->
<div class="blog-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-6">
                <h2 class="section-title text-danger">Tin tức &amp; Blog</h2>
            </div>
            <div class="col-md-6 text-start text-md-end">
                <a href="#" class="more">Xem tất cả bài viết</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
                <div class="post-entry">
                    <a href="#" class="post-thumbnail"><img src="images/post-1.jpg" alt="Image" class="img-fluid"></a>
                    <div class="post-content-entry">
                        <h3><a href="#">Lợi ích của việc hiến máu</a></h3>
                        <div class="meta">
                            <span>by <a href="#">Admin</a></span> <span>on <a href="#">May 18, 2025</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
                <div class="post-entry">
                    <a href="#" class="post-thumbnail"><img src="images/post-2.jpg" alt="Image" class="img-fluid"></a>
                    <div class="post-content-entry">
                        <h3><a href="#">Câu hỏi thường gặp về hiến máu</a></h3>
                        <div class="meta">
                            <span>by <a href="#">Admin</a></span> <span>on <a href="#">May 10, 2025</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
                <div class="post-entry">
                    <a href="#" class="post-thumbnail"><img src="images/post-3.jpg" alt="Image" class="img-fluid"></a>
                    <div class="post-content-entry">
                        <h3><a href="#">Hướng dẫn đăng ký hiến máu</a></h3>
                        <div class="meta">
                            <span>by <a href="#">Admin</a></span> <span>on <a href="#">May 1, 2025</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Blog Section -->
<footer class="footer-section">
    <div class="container relative">

        <div class="sofa-img">
            <img src="images/sofa.png" alt="Hiến máu nhân đạo" class="img-fluid">
        </div>

        <div class="row">
            <div class="col-lg-8">
                <div class="subscription-form">
                    <h3 class="d-flex align-items-center">
                        <span class="me-1">
                            <img src="images/envelope-outline.svg" alt="Đăng ký nhận tin" class="img-fluid">
                        </span>
                        <span>Đăng ký nhận thông tin hiến máu</span>
                    </h3>
                    <form action="#" class="row g-3">
                        <div class="col-auto">
                            <input type="text" class="form-control" placeholder="Nhập tên của bạn">
                        </div>
                        <div class="col-auto">
                            <input type="email" class="form-control" placeholder="Nhập email của bạn">
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-danger">
                                <span class="fa fa-paper-plane"></span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="row g-5 mb-5">
            <div class="col-lg-4">
                <div class="mb-4 footer-logo-wrap">
                    <a href="#" class="footer-logo text-danger">Hiến Máu<span>.</span></a>
                </div>
                <p class="mb-4">
                    Hiến máu cứu người là nghĩa cử cao đẹp, mang lại sự sống cho những người đang cần máu. Hãy cùng chung tay lan tỏa yêu thương và hy vọng!
                </p>
                <ul class="list-unstyled custom-social">
                    <li><a href="#"><span class="fa fa-brands fa-facebook-f"></span></a></li>
                    <li><a href="#"><span class="fa fa-brands fa-twitter"></span></a></li>
                    <li><a href="#"><span class="fa fa-brands fa-instagram"></span></a></li>
                    <li><a href="#"><span class="fa fa-brands fa-linkedin"></span></a></li>
                </ul>
            </div>

            <div class="col-lg-8">
                <div class="row links-wrap">
                    <div class="col-6 col-sm-6 col-md-3">
                        <ul class="list-unstyled">
                            <li><a href="#">Giới thiệu</a></li>
                            <li><a href="#">Sự kiện</a></li>
                            <li><a href="#">Tin tức</a></li>
                            <li><a href="#">Liên hệ</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-sm-6 col-md-3">
                        <ul class="list-unstyled">
                            <li><a href="#">Hỗ trợ</a></li>
                            <li><a href="#">Câu hỏi thường gặp</a></li>
                            <li><a href="#">Tư vấn trực tuyến</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-sm-6 col-md-3">
                        <ul class="list-unstyled">
                            <li><a href="#">Tình nguyện viên</a></li>
                            <li><a href="#">Đội ngũ</a></li>
                            <li><a href="#">Lãnh đạo</a></li>
                            <li><a href="#">Chính sách bảo mật</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-sm-6 col-md-3">
                        <ul class="list-unstyled">
                            <li><a href="#">Hiến máu toàn phần</a></li>
                            <li><a href="#">Hiến tiểu cầu</a></li>
                            <li><a href="#">Hiến huyết tương</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="border-top copyright">
            <div class="row pt-4">
                <div class="col-lg-6">
                    <p class="mb-2 text-center text-lg-start">
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved. — Designed with love by <a href="https://untree.co">Untree.co</a> Distributed By <a href="https://themewagon.com">ThemeWagon</a>
                    </p>
                </div>
                <div class="col-lg-6 text-center text-lg-end">
                    <ul class="list-unstyled d-inline-flex ms-auto">
                        <li class="me-4"><a href="#">Điều khoản &amp; Dịch vụ</a></li>
                        <li><a href="#">Chính sách bảo mật</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</footer>